/* 
label: OpenCode
value: opencode 
*/

:root[data-theme-preset="opencode"] {
  --radius: 0.625rem;
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.2 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0 0);
  --primary: oklch(0.55 0.232 268.114);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.961 0 0);
  --secondary-foreground: oklch(0.2 0 0);
  --muted: oklch(0.961 0 0);
  --muted-foreground: oklch(0.475 0 0);
  --accent: oklch(0.961 0 0);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.58 0.205 22.74);
  --border: oklch(0 0 0 / 10%);
  --input: oklch(0 0 0 / 12%);
  --ring: oklch(0.7 0.153 268.249);
  --chart-1: oklch(0.55 0.232 268.114);
  --chart-2: oklch(0.666 0.165 150.098);
  --chart-3: oklch(0.745 0.165 45.867);
  --chart-4: oklch(0.84 0.141 83.809);
  --chart-5: oklch(0.567 0.229 285.197);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.2 0 0);
  --sidebar-primary: oklch(0.55 0.232 268.114);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0 0 0 / 10%);
  --sidebar-ring: oklch(0.7 0.153 268.249);
  --background: oklch(1 0 0);
  --foreground: oklch(0.2 0 0);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 6px 16px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-lg: 0px 8px 24px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-xl: 0px 12px 32px 0px hsl(0 0% 0% / 0.12), 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 16px 48px 0px hsl(0 0% 0% / 0.16), 0px 4px 12px 0px hsl(0 0% 0% / 0.08);
}

.dark:root[data-theme-preset="opencode"] {
  --background: oklch(0.2 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.26 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.301 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.55 0.232 268.114);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.301 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.301 0 0);
  --muted-foreground: oklch(0.751 0 0);
  --accent: oklch(0.301 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.646 0.205 22.893);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 16%);
  --ring: oklch(0.7 0.153 268.249);
  --chart-1: oklch(0.55 0.232 268.114);
  --chart-2: oklch(0.79 0.149 150.069);
  --chart-3: oklch(0.8 0.123 46.289);
  --chart-4: oklch(0.866 0.115 88.476);
  --chart-5: oklch(0.632 0.194 285.13);
  --sidebar: oklch(0.26 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.55 0.232 268.114);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.301 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.7 0.153 268.249);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 6px 16px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-lg: 0px 8px 24px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-xl: 0px 12px 32px 0px hsl(0 0% 0% / 0.12), 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 16px 48px 0px hsl(0 0% 0% / 0.16), 0px 4px 12px 0px hsl(0 0% 0% / 0.08);
}
